*{
	margin:0;
	padding:0; 
	box-sizing:border-box;
	background-color:#ecf0f3;
	outline:none;
}
.form{
	width:30%;
	background-color:white;
	padding-top:1rem;
	padding-bottom:2rem;
	margin:auto;
}
.form input{
	padding:20px;
	width:90%;
	margin-left:20px;
	margin-top:20px;
	/* background-color:#c5c4c45c; */
	border-radius:10px;
	margin-right:50px;
}
button{
	margin-top:15px;
	background-color:#1877f2;
	padding:10px;
	border-radius:10px;
	width:90%;
	color:white;
		border:none;
}
	.form p{
		color:#1877f2;
		margin-top:15px;
		
	}
.butt button{
	background-color:#1b9c24;
	width:85%;
	margin:auto;
	margin-top:15px;
	border:none;
}
h3{
	color:red;
}
